.header__square-pic {
  z-index: -2;
  margin-top: 64px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 0;
  height: 568px;
  width: 568px;
  animation: rotation 20s linear infinite;
}


