.kaufman__triangle {
  background-image: url("../../../images/kaufman-triangle.svg");
  object-fit: cover;
  position: absolute;
  right: -210px;
  top: 0px;
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  z-index: -1;
  animation: rotation 20s linear infinite;
}
