.khan__buy-link {
  color: #2f80ed;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  align-self: baseline;
}

.khan__buy-link:hover {
  transition: opacity .3s linear;
  opacity: 0.8;
}
